# Security & Vaults
.env
.bioshield_vault.json
.bioshield_registered
# Logs & Cache
logs
*.log
npm-debug.log*
__pycache__/
venv/
.npm_cache/
.vercel
dist/
dist-ssr/
node_modules/

# Config Files
*.json
!package.json
!package-lock.json
!vercel.json

# Editor & OS files
.vscode/
.idea/
.DS_Store

# Build artifacts
node_modules/
dist/
dist-ssr/
